<%= form_with scope: :track,  url: album_tracks_path, local:true do |f| %>
  <div class="container-fluid w-50 border bg-white">
    <div class="field mb-3 text-start">
      <%= f.label :Track_name, class: "form-label" %><br />
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="field mb-3 text-start">
      <%= f.label :Song, class: "form-label" %><br />
      <%= f.file_field :song, class: "form-control" %>
    </div>
    <div class="actions mb-2">
      <%= f.submit "ADD TO ALBUM AND SAVE", class: 'btn btn-primary ' %>
      <%= f.submit "ADD TO ALBUM AND SUBMIT", class: 'btn btn-primary ' %>
    </div>
  </div>
<% end %>
