<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AudioSocket</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">AudioSocket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Music</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div id="container" class="container-fluid w-50 border rounded shadow mt-5 p-4 text-center ">
  <div id="container" class="container-fluid w-50 ">Profile</div>
    <%= form_with scope: :audition, local:true do |f| %>
    <div class="field mb-3 text-start">
      <%= f.label :artist_name, class: "form-label" %><br />
      <%= f.text_field :artist_name, class: "form-control" %>
    </div>
    <div class="field mb-3 text-start">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :profile_image, class: "form-label" %>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :country, class: "form-label" %>
      <%= f.text_field :country, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :bio, class: "form-label" %>
      <%= f.text_area :bio, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :website_link, class: "form-label" %>
      <%= f.text_field :website_link, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :social_links, class: "form-label" %>
      <%= f.text_field :links, class: "form-control", class: "form-control mb-1" %>
      <%= f.text_field :links, class: "form-control", class: "form-control mb-1" %>
      <%= f.text_field :links, class: "form-control", class: "form-control mb-1" %>
    </div>

    <div class="actions mb-2">
      <%= f.submit "Upgrade to pro", class: 'btn btn-secondary btn-lg' %>
    </div>

    <div class="actions mb-2">
      <%= f.submit "Save", class: 'btn btn-secondary btn-lg' %>
      <%= f.submit "Cancel", class: 'btn btn-light btn-lg' %>
    </div>
  <% end %>
  <%= link_to 'pro', checkout_index_path, method: :post %>
  <%= link_to 'albums', albums_path %>
</div>
