<div id="container" class="container-fluid w-50 border rounded shadow mt-5 p-4 text-center">
  <h2>Submit Audition</h2>
  <%= form_for @audition do |f| %>
    <%= hidden_field_tag 'user_id', current_user.id  %>
    <div class="field mb-3 text-start">
      <%= f.label :first_name, class: "form-label" %><br />
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :last_name, class: "form-label" %><br />
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :artist_name, class: "form-label" %><br />
      <%= f.text_field :artist_name, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :songs, class: "form-label" %><br />
      <table class="table">
        <tbody class="songs" id="nested">
          <%= f.fields_for :songs do |link| %>
            <%= render 'song_fields', f: link %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="actions mb-2">
      <%= link_to_add_association 'Add More', f, :songs, class: 'btn btn-primary add-link', id: 'add-songs-button', data: {
        association_insertion_node: '.songs', association_insertion_method: :append
      } %>
    </div>
    
    <div class="field mb-3 text-start">
      <%= f.label :email, class: "form-label" %><br /><div class="dropdown">
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="dropdown field mb-3 text-start">
      <%= f.label :Select_Genre, class: "form-label" %><br />
      <%= f.select :genre, options_for_select(Audition.genres.keys.to_a.map {|key| [key.titleize, key]}), {}, class: "mx-2 form-select"  %>
    </div>

    <div class="dropdown field mb-3 text-start">
      <%= f.label :How_did_you_hear_about_us, class: "form-label" %><br />
      <%= f.select :hear_about_us, options_for_select([['Twiiter', 'twiiter'],['Facebook', 'facebook'],['Instagram', 'instagram']]), {}, class: "mx-2 form-select" %>
    </div>
    
    <% content_for :ckeditor_form do %> 
      <%= javascript_include_tag Ckeditor.cdn_url %> 
    <% end %>
    <div class="form-group">
      <%= label_tag(:additional_info, "Description") %>
      <i class="fa fa-asterisk">Required</i>
      <%= f.cktext_area :additional_info, cols: 40, ckeditor: { uiColor: '#AADC6E' }, class: 'text form-control', required: true %>
    </div>
    <br>
    <div class="actions mb-2">
      <%= f.submit "Submit Audition", class: 'btn btn-primary btn-lg' %>
    </div>  
  <% end %>
</div>
