<div class="container-fluid w-50 border rounded shadow mt-5 p-4 text-center">
  <h2>Submit Audition</h2>
  <%= form_for @audition do |f| %>
    <div class="field mb-3 text-start">
      <%= f.label :first_name, class: "form-label" %><br />
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :last_name, class: "form-label" %><br />
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :artist_name, class: "form-label" %><br />
      <%= f.text_field :artist_name, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :email, class: "form-label" %><br /><div class="dropdown">
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="dropdown field mb-3 text-start">
      <%= f.label :Select_Genre, class: "form-label" %><br />
      <%= f.select :genre, options_for_select(Audition.genres.keys.to_a.map {|key| [key.titleize, key]}), {}, class: "mx-2 form-select"  %>
    </div>

    <div class="dropdown field mb-3 text-start">
      <%= f.label :How_did_you_hear_about_us, class: "form-label" %><br />
      <%= f.select :hear_about_us, options_for_select([['Twiiter', 'twiiter'],['Facebook', 'facebook'],['Instagram', 'instagram']]), {}, class: "mx-2 form-select" %>
    </div>

    <br>
    <div class="actions mb-2">
      <%= f.submit "Submit Audition", class: 'btn btn-primary btn-lg' %>
    </div>  
  <% end %>
</div>
