<p> First Name: <%= @audition.first_name %></p>
<p> Last Name: <%= @audition.last_name %></p>
<p> Artist Name: <%= @audition.artist_name %></p>
<p> Email: <%= @audition.email %></p>
<p> Genre: <%= @audition.genre %></p>
<br>
