<div id="container" class="container-fluid w-50 border rounded shadow mt-5 p-4 text-center ">
  <div id="container" class="container-fluid w-50 ">Profile</div>
    <%= form_with scope: @user, url: user_path, method: :put, local:true do |f| %>
    <div class="field mb-3 text-start">
      <%= f.label :artist_name, class: "form-label" %><br />
      <%= f.text_field :artist_name, class: "form-control" %>
    </div>
    <div class="field mb-3 text-start">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :profile_image, class: "form-label" %>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :country, class: "form-label" %>
      <%= f.text_field :country, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :bio, class: "form-label" %>
      <%= f.text_area :bio, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :website_link, class: "form-label" %>
      <%= f.text_field :website_link, class: "form-control" %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :social_links, class: "form-label" %>
      <%= f.text_field :links, class: "form-control", class: "form-control mb-1" %>
      <%= f.text_field :links, class: "form-control", class: "form-control mb-1" %>
      <%= f.text_field :links, class: "form-control", class: "form-control mb-1" %>
    </div>

    <div class="actions mb-2">
      <%= link_to "Upgrade to pro", checkout_index_path(id: @user.id),method: 'post', remote: true ,class: 'btn btn-secondary btn-lg' %>
    </div>

    <div class="actions mb-2">
      <%= f.submit "Save", class: 'btn btn-secondary btn-lg' %>
      <%= link_to 'Cancel', edit_user_path(current_user), class: 'btn btn-light btn-lg' %>
    </div>
  <% end %>
</div>
