<% if current_user&.type == 'Artist' %>
  <% if current_user.audition.present? %>
    <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
  <% else %>
    <p><%= link_to 'Submit Audition', new_audition_path %></p>
    <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
  <% end %>
<% elsif current_user&.type == 'Manager'%>
  <p><%= link_to 'Audition Listing', auditions_path %></p>
  <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
<% else %>
  <p><%= link_to 'Login',new_user_session_path %></p>
  <br />
  <p><%= link_to 'Sign up',new_user_registration_path %></p>
<% end %>
